etfnews/hist
etfnews/main.pid
fandom-cron/dump.json
fandom-cron/highlight.json
fandom-cron/main.log
gopiratesoftware/keys
github/cache.json
whatsapp/monitoring-failed
whatsapp/monitoring.log
whatsapp/monitoring.txt
**/cache.json
**/config.json
**/node_modules
**/*.log
